.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cards-container {
  display: inline-block;
  float: left;
  width: 67%;
  background-color: #215A6D;
}

#header {
  display: inline-block;
  line-height: 70px;
  background-color: #2D2D29;
  font-size: 30px;
  font-weight: 600;
  width: 67%;
  position: fixed;
  left: 0;
  color: #f5f5f5;
  text-align: left;
  padding-left: 20px;
}

.search-field {
  width: 30%;
  float: right;
  height: 30px;
  margin: 15px 40px 0 0;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 100;
  line-height: 30px;
}

.card-list {
  display: inline-block;
  margin-top: 85px;
}

.card-image {
  display: inline-block;
  box-shadow: 0px 0px 89px -26px white;
}

.card-button {
  border-radius: 5px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 85%;
  background-color: #A82743;
  box-shadow: 0px 5px 0px 0px #2D2D29;
  cursor: pointer;
  user-select: none;
}

.card-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.card-sidebar {
  display: inline-block;
  right: 0;
  width: 33%;
  height: 100%;
  background-color: #92C7A3;
  position: fixed;
  border-left: 10px solid #3CA2A2;
  box-sizing: border-box;
  overflow-y: auto;
}

#sidebar-header {
  display: inline-block;
  width: 100%;
  line-height: 70px;
  font-size: 30px;
  font-weight: 600;
  left: 0;
  color: #333333;
  text-decoration: underline;
}

.clear-button {
  border-radius: 5px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 96%;
  background-color: #3CA2A2;
  box-shadow: 0px 4px 0px 0px #2D2D29;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.card-count {
  font-weight: 100;
}

.deck {
  margin-top: 15px;
}

.magic-card {
  display: inline-block;
  margin-bottom: 35px;
  width: 25%;
}

.card-image {
  margin: 5px;
}

.mana-colors {
  margin-top: 15px;
  width: 100%;
}

.red, .blue, .black, .white, .green {
  width: 100%;
  display: inline-block;
}

.red:before  {
  display: inline-block;
  content: url(./images/red.svg);
  width: 25px;
  height: 25px;
}

.blue:before {
  display: inline-block;
  content: url(./images/blue.svg);
  width: 25px;
  height: 25px;
}

.black:before {
  display: inline-block;
  content: url(./images/black.svg);
  width: 25px;
  height: 25px;
}

.green:before {
  display: inline-block;
  content: url(./images/green.svg);
  width: 25px;
  height: 25px;
}

.white:before {
  display: inline-block;
  content: url(./images/white.svg);
  width: 25px;
  height: 25px;
}

.mana-curve {
  display: inline-block;
  margin-top: 15px;
}

.mana {
  display: inline-block;
  width: 20%;
}

.deck-card {
  float: left;
  display: inline-block;
  width: 99%;
  margin-bottom: 20px;
  position: relative;
}

.deck-button {
  border-radius: 5px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 70%;
  background-color: #3CA2A2;
  box-shadow: 0px 2px 0px 0px #2D2D29;
  cursor: pointer;
  user-select: none;
  bottom: 3%;
  right: 1%;
  position: absolute;
}

.card-name {
  text-align: left;
  padding-left: 2%;
  display: inline-block;
  width: 45%;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  text-decoration: underline;
}

.card-deck-count {
  text-align: right;
  display: inline-block;
  padding-right: 2%;
  width: 23%;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 200;
}

.card-color {
  text-align: left;
  display: inline-block;
  padding-left: 2%;
  width: 34%;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 200;
}

.card-cmc {
  text-align: right;
  display: inline-block;
  padding-right: 2%;
  width: 34%;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 200;
}

.card-text {
  display: inline-block;
  height: 85px;
  text-overflow: ellipsis;
  overflow-y: auto;
  width: 68%;
  padding: 1% 2% 0 1%;
  text-align: left;
  border: 2px solid #333;
  box-sizing: border-box;
  font-weight: 200;
  margin-top: 4px;
}

.bold {
  font-weight: 500;
}

.card-image-small {
  width: 25%;
  float: left;
  padding-left: 2%;
}
